@model WebApiStudentResultJS.Models.ReportResult

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ReportResult</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
                @Html.LabelFor(model => model.ReportResultId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ReportResultId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReportResultId, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.StudentId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.StudentId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StudentId, "", new { @class = "text-danger" })*@
                <select class="form-control" id="student">
                    <option selected value="">-Select Student-</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExamTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.ExamTypeId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ExamTypeId, "", new { @class = "text-danger" })*@
                <select class="form-control" id="examType">
                    <option selected value="">-Select Exam Type-</option>
                </select>
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.Marks, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Marks, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Marks, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <label class="control-label"><h2>Add New Course Marks</h2></label>
        <table class="table table-striped" >
            <thead>
                <tr>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.CourseId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <select class="form-control" id="course">
                                    <option selected value="">-Select Course-</option>
                                </select>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Marks, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                               @* @Html.EditorFor(model => model.Marks, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Marks, "", new { @class = "text-danger" })*@
                                <input class="form-control" type="number" placeholder=" Enter Marks" id="marks"/>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="button" class="form-control btn btn-default add-record" onclick="AddRow()" value="Add Row"/>
                            </div>
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <label class="control-label"><h2>Course Wise Marks Grid</h2></label>
        <table style="display:none" id="sample_table">
            <tr>
                <td><span class="sn"></span>.</td>
                <td class="course">Course ID</td>
                <td class="courseID" style="display:none">Course ID</td>
                <td class="marks">100</td>
                <td class="grade">A</td>
                <td><a class="btn btn-xs delete-record" data-id="0"><i class="glyphicon glyphicon-trash"></i></a></td>
                <td><a class="btn btn-xs edit-record" data-id="0"><i class="glyphicon glyphicon-edit"></i></a></td>
            </tr>
        </table>
        
        
        <table class="table table-striped" id="resultTable">
            <thead>
                <tr>
                    <th> SL No.</th>
                    <th>
                        @Html.LabelFor(model => model.CourseId, htmlAttributes: new { @class = "control-label col-md-2" })
                    </th>
                    <th style="display:none">
                       
                    </th>
                    <th>
                        @Html.LabelFor(model => model.Marks, htmlAttributes: new { @class = "control-label col-md-2" })
                    </th>
                    <th>
                        Grade
                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody id="resultTable_body">
                <tr>
                </tr>
            </tbody>
            <tr>
                <td></td>
                <td></td>
                <td style="display:none"></td>
                <td>Total : <span class="info" id="total"></span> </td>
                <td>SGPA : <span class="info" id="total2"></span></td>
                <td></td>
                <td></td>
            </tr>
        </table>

        @*<div class="form-group">
                @Html.LabelFor(model => model.CourseId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CourseId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
                </div>
            </div>*@



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Create" id="btnSave" class="btn btn-default" onclick="saveData()"  />
                @*<input class="btn-default" type="button" id="btnSave" value="Save" onclick="saveData()" />*@
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/js")
}
