@model IEnumerable<WebApiStudentResultJS.Models.Result>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CGPA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExamType.ExamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.StudentName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CGPA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExamType.ExamName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.StudentName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ResultId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ResultId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ResultId })
        </td>
    </tr>
}

</table>
